[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-widget-tweaks = "*"
requests = "*"
pillow = "*"
django-heroku = "*"
gunicorn = "*"
pypi = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8"

migrate = "zsh -c 'python3 manage.py makemigrations && python3 manage.py migrate'"
dev = "python3 manage.py runserver"