[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-widget-tweaks = "*"
requests = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
migrate = "zsh -c 'python3 manage.py makemigrations && python3 manage.py migrate'"
dev = "python3 manage.py runserver"