{% extends 'listitems/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="card text-center contact mx-auto rounded">
    <div class="card-body">
        <h2 class="mb-4">持ち主申請</h2>
        <form method="post" enctype="multipart/form-data">
            <!-- フォームを安全に送信するために必ず必要なタグ -->
            {% csrf_token %}
            <div class="mb-3">
                {% render_field form.name class='form-control' placeholder='氏名' %}
            </div>
            <div class="mb-3">
                {% render_field form.number class='form-control' placeholder='学籍番号' %}
            </div>
            <div class="mb-3">
                {% csrf_token %}
                {% render_field form.comment class='form-control' placeholder='コメントを入力して下さい' %}
            </div>
            <div class="mb-3">
                <button class="btn btn-warning" type="submit"><i class="fas fa-paper-plane"></i>申請</button>
            </div>
        </form>
    </div>
    <div class="text-center" style="padding-bottom: 20px;">
    <p>下記の物品を持ち主申請します。</p>
    <table class="table table-bordered">
    <tr><th>物品名</th><td>{{ item.name }}</td></tr>
    <tr><th>発見者</th><td>{{ item.founder }}</td></tr>
    </table>
    <img src="/{{ item.photo }}" width="40%">
    </div>
</div>

{% endblock %}